<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tvlistings">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application
        android:name=".TVListingsApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.activity.HomeActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN">

                </action>
                <category android:name="android.intent.category.LAUNCHER">
                </category>
            </intent-filter>
        </activity>
        <activity android:name=".view.activity.DiscoverHomeActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.activity.TVShowsHomeActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.activity.MoviesHomeActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.activity.SelectedShowActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.activity.ShowPersonDetailsActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.activity.ShowEpisodeDetailsActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.activity.SelectedMovieActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.activity.MovieCollectionActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.activity.PersonsHomeActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.activity.SelectedNetworkActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.activity.ProductionCompanyActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.activity.DiscoveredResultActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.activity.ShowImagesActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"
            android:configChanges="orientation|screenSize"/>

        <activity
            android:name="com.thefinestartist.ytpa.YouTubePlayerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensor"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />

        <meta-data
            android:name="com.thefinestartist.ytpa.YouTubePlayerActivity.ApiKey"
            android:value="AIzaSyCuP_fGDA6kGVAy-MAXXG0vAkIpc4J38PI" />

    </application>

</manifest>
